body {
    padding: 2;
    margin: 2;
  } 
  
  .navbar {
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 25px 40px;*/
  } 
  .navbar .logo {
    display:flex;
    align-content: center;
    align-items: center;
    width: 50px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    font-weight: bold;
    text-shadow: black ;
    text-decoration-thickness: 5px;
    letter-spacing: 2px;
    line-height: 3rem;
    color: navy;

}

.navbar .logo img {
    width: 200px;
    height: 200px;
    margin: 2px;
    padding: 2px;
}
  
  
